CI_ENVIRONMENT = development

database.default.hostname = localhost
database.default.database = database
database.default.username = postgres
database.default.password =
database.default.DBDriver = Postgre
database.default.port = 5432
database.default.charset = UTF8